/Colecciones_Ej1/nbproject/private/
/Colecciones Extras/Colecciones_Ej2/nbproject/private/
/Colecciones Extras/Colecciones_Ej2/build/
/Colecciones Extras/Colecciones_Ej3/nbproject/private/
/Guia 11/ManosALaObra/Persona/nbproject/private/
/Guia 11/ManosALaObra/Ejercicio1/nbproject/private/
/Guia 11/ManosALaObra/Ejercicio1/build/
/Guia 11/ManosALaObra/Ejercicio 2/nbproject/private/
/Guia 11/ManosALaObra/Ejercicio 2/build/
/Guia 11/Ejercicios/Ejercicio_1/nbproject/private/
/Guia 11/Ejercicios/Ejercicio_1/build/
/Guia 11/Ejercicios/Ejercicio 2/nbproject/private/
/Guia 11/Ejercicios/Ejercicio_2/nbproject/private/
/Guia 11/Ejercicios/Ejercicio_2/build/
/Guia 11/Ejercicios/Ejercicio_3/nbproject/private/
/Guia 11/Ejercicios/Ejercicio_3/build/
/Guia 11/Extras/Ejercicio_1/nbproject/private/
/Guia 11/Extras/Ejercicio_1/build/
/Guia 11/Extras/Ejercicio_2/nbproject/private/
/Guia 11/Extras/Ejercicio_3/nbproject/private/
/Guia 11/Extras/Ejercicio_3/build/
/Guia 12/Guia Teorica/ejercicio_animal/nbproject/private/
/Guia 12/Guia Teorica/ejercicio_animal/build/
/Guia 12/Guia Teorica/manos_a_la_obra_1/nbproject/private/
/Guia 12/Guia Teorica/manos_a_la_obra_1/build/
/Guia 12/Ejercicios Practicos/Ejercicio_1/nbproject/private/
/Guia 12/Ejercicios Practicos/Ejercicio_1/build/
/Guia 12/Ejercicios Practicos/Ejercicio_2/nbproject/private/
/Guia 12/Ejercicios Practicos/Ejercicio_2/build/
/Guia 12/Ejercicios Practicos/Ejercicio_3/nbproject/private/
/Guia 12/Ejercicios Practicos/Ejercicio_3/build/
/Guia 12/Ejercicios Practicos/Ejercicio_4/nbproject/private/
/Guia 12/Ejercicios Practicos/Ejercicio_4/build/